
  <div class = "global-header grid grid_align-spread">
    <div class = "global-header_item">
      <div class = "global-header_logo">
        <span class = "assistive-text">Optimizer</span>
      </div>
    </div>
    <div class = "container">
      <div class = "center-text">
        <div class = "nav-right">
          <button class = "home">Home</button>
          <button class = "home">Add New Account</button>
          <button class = "home">View Optimizations</button>
          <button class = "home">Help Center</button>
        </div>
      </div>
    </div>
    <!--<div class = "notification-icon">
      <button class = "notification"></button>
    </div>-->
    <div class = "person-icon">
    </div>
    <div class = "dropdown">
      <button class = "dropbtn">John Doe</button>
      <div class = "dropdown-content">
        <a href = "#">Settings</a>
        <a href = "#">Hints</a>
        <a href = "#">Logout</a>
      </div>
    </div> 
    <i class = "arrow down"></i> 
  </div>


   
  