<div class = "subheader-grid">
    <div class = "grid-item">
      <div class = "grid-content">
        <button class = row-icon></button>
        <div class = "grid-text">
          <span class = "accname">Account Name</span><br>
          <span class = "detail">ABC Dental</span>
        </div>
      </div>
    </div>
    <div class = "grid-item2">
      <div class = "grid-content2">
        <div class = "grid-text2">
          <span class = "accname2">Campaign Name</span><br>
          <span class = "detail2">New- Search - Course - Dowsing - Broad</span>
        </div>
      </div>
    </div>
    <div class = "grid-item3">
      <div class = "grid-content">
        <div class = "grid-text3">
          <span class = "accname3">Account Progress</span><br>
          <span class = "detail3">1 out of X Campaigns Analyzed</span>
        </div>
      </div>
    </div>
</div>