<div class = "sidemenu-container">
    <div class = "sidemenu-title">
        <span class = "scenario">Scenario selected</span><br>
        <span class = "scenario-selected">High CPA</span>
    </div>
    <div class = "button-container">
        <ul class = "ul-sidemenu">
            <li>
                <button class = "btn-device" routerLink = "/devices">Devices | High CPA</button>   
            </li>
            <li>
                <button class = "btn-device" routerLink = "/DevicesNoConversions">Devices | No Conversions</button>
            </li>
            <li>
                <button class = "btn-device" routerLink = "/KeyboardsNoConversions">Keywords | No Conversions</button>
            </li>
            <li>
                <button class = "btn-device" routerLink = "/KeyboardsHCPa">Keywords | High CPA</button>
            </li>
            <li>
                <button class = "btn-device" routerLink = "/LocationsNoConversions">Locations | No Conversions</button>
            </li>
            <li>
                <button class = "btn-device" routerLink = "/LocationsHCPa">Locations | High CPA</button>
            </li>
            <li>
                <button class = "btn-device" routerLink = "/SearchPartnersNoConversions">Search Partners | No Conversions</button>
            </li>
            <li>
                <button class = "btn-device" routerLink = "/SearchPartnersHCPa">Search Partners | High CPA</button>
            </li>
        </ul>
    </div>
</div>

